
header {
  background: #ffffff;
  height: 99px;
  border-bottom: 1px solid #cccccc;
}

body {
  width: 960px;
  margin: 0 auto;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

#name {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 36px;
  background: #4aaaa5;
  color: white;
  height: 20px;
  width: 200px;
  padding: 30px 30px 45px 30px;
  margin: 5px 0 0 40px;
  float: left;
}

#menu {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  font-size: 22px;
  height: 10px;
  padding: 45px 30px 30px 30px;
  margin: 0 0 0 340px;
  float: left;
}

#menu a {
  color: #777777;
  text-decoration: none;
}

#container {
  padding-top: 50px;
  background-image: url("../images/concrete.png")
}

#page {
  background: #ffffff;
  height: auto;
  width: 550px;
  margin-left: 40px;
  float: left;
  padding: 20px 0 20px 20px;
  border: 1px solid #dddddd;
}

h1 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4aaaa5;
  font-size: 30px;
  margin-bottom: 10px;
}

h2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

hr {
  margin: 0 15px 20px 0;
}

#aboutpic {
  float:left;
  margin-right: 20px;
  height: 200px;
  width: 200px;
}

.abouttext {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777777;
  float-right;
  padding-right: 20px;
  line-height: 125%
}

#connect {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4aaaa5;
  font-size: 30px;
  background: #ffffff;
  height: 150px;
  width: 240px;
  float: left;
  margin-left: 50px;
  padding: 20px 0 0 20px;
  border: 1px solid #dddddd;
}

.connectimg {
  height: 70px;
  width: 70px;
}

.content {
  min-height: calc(100vh - 150px);
  background-image: url("../images/concrete.png")
}

.footer {
  clear: both;
  height: 30px;
  background: gray;
  text-align: center; 
  color: white;
  font-size: 10px;
  padding: 20px 0 0 0;
}

.forminput {
  width: 530px;
  padding: 3px 0;
}

#submit {
  background: #4aaaa5;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.portimg { 
  border: 1px solid #cccccc;
  position: relative;
  height: 200px;
  width: 200px;
  float: left;
  margin: 20px 30px;
}

.portpic {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
}

h2 { 
  position: absolute; 
  z-index: 100;
  top: 100px; 
  left: 0; 
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #ffffff;
  height: 40px;
  width: 200px;
  background: #4aaaa5;
  text-align: center;
  font-size: 18px;
  padding: 20px 0 0 0;
}

h3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777777;
}